<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial;
            background-color: #f4f4f4;
            padding: 20px;
        }
        .container {
            background: white;
            padding: 20px;
            border-radius: 10px;
        }
        .btn {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<div class="container">
    <h2>Welcome {{ name }} 🎉</h2>

    <p>Thank you for registering on <b>My Website</b>.</p>

    <p>We are excited to have you onboard! 🚀</p>

    <p>You can now explore jobs, apply easily, and track your applications.</p>

    <br>

    <a href="http://127.0.0.1:8000/login/" class="btn">Login Now</a>

    <br><br>

    <p>Regards,<br>Team</p>
</div>

</body>
</html>
